.footer {
  height: 50vh;
  width: 100%;
  background-color: rgb(253 175 230);
  display: flex;
  padding: 0;
  justify-content: space-around;
  color: #000000;
  align-items: center;
  margin-top: 100px;
  border-top: 2px solid rgba(0, 0, 0, 0.438);
}
.comp,
.comm,
.use {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 50px 0px 0px 50px;
}

.comp label,
.comm label,
.use label {
  color: #000000;
  margin: 5px 0;
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
  transition: 0.2s;
}
.comp label:hover,
.comm label:hover,
.use label:hover {
  color: rgb(0, 0, 0);
  scale: 1.2;
}
.comp h3,
.comm h3,
.use h3 {
  color: #000000;
  cursor: pointer;
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 100px;
}

.logo i {
  transition: 0.5s;
  padding: 10px;
  font-size: 2rem;
  border-radius: 50%;
  margin-right: 20px;
}
.logo i:hover {
  background-color: rgb(255, 255, 255);
  color: black;
  scale: 1.2;
}
